@font-face {
    font-family: 'abuget';
    src: url('/fonts/abuget-webfont.woff2') format('woff2'),
    url('/fonts/abuget-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    --primary-color: #9482ff;
    --dark-color: #7768cc;
    --grey-purple: #6a6680;
    --almost-black: #1e1a33;
    --light-color: #d6cfff;
    --almost-white: #f5f5f7;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.back {
    max-width: 85vw;
    margin: 0 auto;
    position: relative;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 800px) {
    .back {
        max-width: 80vw;
    }
}

/* Background */
body {
    background: var(--almost-white);
}

.background__image-container {
    overflow: hidden;
}

.background__image {
    position: absolute;
    width: 110vw;
    object-fit: cover;
    object-position: bottom;
    height: 170vh;
}

@media screen and (min-width: 350px) and (max-height: 700px) {
    .background__image {
        height: 150vh;
    }
}

@media screen and (min-width: 350px) and (max-height: 850px) {
    .background__image {
        height: 130vh;
    }
}

@media screen and (min-width: 750px) and (max-height: 1100px) {
    .background__image {
        height: 100vh;
    }
}

@media screen and (min-width: 1000px) and (max-height: 1400px) {
    .background__image {
        height: 50vh;
    }
}

@media screen and (min-width: 1300px) and (max-height: 1050px) {
    .background__image {
        height: 75vh;
    }
}

@media screen and (min-width: 500px) and (max-height: 700px) {
    .background__image {
        height: 200vh;
    }
}

@media screen and (min-width: 700px) and (max-height: 600px) {
    .background__image {
        height: 150vh;
    }
}

@media screen and (min-width: 1200px) and (max-height: 800px) {
    .background__image {
        height: 90vh;
    }
}

@media screen and (min-width: 1500px) and (max-height: 800px) {
    .background__image {
        height: 110vh;
    }
}

@media screen and (min-width: 980px) and (max-height: 800px) {
    .background__image {
        height: 90vh;
    }
}

@media screen and (min-width: 800px) and (max-height: 430px) {
    .background__image {
        height: 235vh;
    }
}

/* Typography */
html {
    font-size: 62.5%;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    color: var(--almost-black);
    margin: 1.6rem 0;
}

h1 {
    font-size: 4.6rem;
    line-height: 5.3rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.6rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

body, p {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    display: inline;
    color: var(--grey-purple);
    margin: 1.6rem 0;
}

.list {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

a {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 5.4rem;
        line-height: 6.4rem;
    }

    h2 {
        font-size: 3.6rem;
        line-height: 4.4rem;
    }
}

/* Blocks */
.block__header {
    text-align: center;
    margin-bottom: 5rem;
}

.block__header p, .block__header h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Grids */
.grid {
    display: grid;
}

.hero-grid {
    display: grid;
}

.testimonial__person {
    display: grid;
}

.testimonials {
    display: grid;
}

.projects-grid {
    display: grid;
    gap: 3.5rem;
    align-items: center;
}

.clients {
    display: grid;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .testimonial__person {
        grid-template-columns: 1fr 1.5fr;
    }

    .hero-grid {
        grid-template-columns: 1.25fr 1fr;
    }

    .testimonials {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
         "one one"
         "two three";
    }

    .icon-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .clients {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1100px) {
    .clients {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .testimonials {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: none;
    }

}

/* Buttons */
.btn {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 1rem 1.7rem;
}

/* Icons */
.icon {
    fill: var(--light-color);
    width: 7rem;
    height: 7rem;
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

/* Nav menu */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.current-page__line {
    width: 50px;
    height: 5px;
    object-fit: fill;
}

.nav__list {
    margin-top: 0;
}

.current-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-page p {
    margin: 0;
}

.nav__link {
    color: white;
}

.nav__icon {
    width: 110px;
    height: 55px;
}

.nav__item {
    color: white;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.nav__toggler {
    width: 45px;
    height: 45px;
}

.nav__item a {
    transition: color .3s;
}

.nav__item:hover a {
    color: #CFCBE6;
}

@media screen and (min-width: 800px) {
    .nav {
        flex-wrap: nowrap;
        margin-top: 2rem;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
        justify-content: flex-end;
        align-items: center;
    }

    .nav__toggler {
        display: none;
    }

    .nav__item {
        margin-left: 5rem;
    }

    .current-page {
        justify-items: flex-end;
        position: relative;
        top: 3px;
    }
}

/* Collapsible */
.collapsible {
    flex-wrap: wrap;
}

.collapsible__content {
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height .3s, opacity .3s;
}

.collapsible--expanded .collapsible__content {
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    max-height: 100vh;
}

@media screen and (min-width: 800px) {
    .collapsible {
        flex-wrap: nowrap;
    }

    .collapsible__content {
        opacity: 1;
        max-height: 100vh;
    }

    .collapsible--expanded .collapsible__content {
        opacity: 1;
        max-height: 100vh;
    }
}

/* Hero */
.hero__content {
    margin-top: 0;
}

.hero__introduction {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.hero__heading {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
}

.hero .hero__text {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 1.6rem;
}

.hero__name {
    margin-top: 0.5rem;
    color: white;
    font-family: 'abuget', Arial, sans-serif;
    font-size: 6rem;
    line-height: 6.2rem;
    font-weight: 400;
}

@media screen and (min-width: 800px) {
    .hero__content {
        margin-top: 4rem;
    }
}

/* Icon Grid */
.icon-grid {
    justify-items: center;
    background: var(--almost-black);
    padding-top: 8rem;
    padding-bottom: 6rem;
    margin: 8rem auto 5rem;
    gap: 3.5rem;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.27);
}

.icon-grid__item {
    color: white;
}

.icon-grid__item h4 {
    white-space: nowrap;
    color: white;
}

.icon-grid__item-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .icon-grid {
        gap: 0;
    }
}

/* Examples section */
.examples {
    margin-top: 10rem;
}

.examples__image {
    width: 80%;
    justify-self: center;
    align-self: center;
}

.examples h2 {
    margin-bottom: 0;
}

.examples__line {
    height: 0.5rem;
    display: block;
    margin: 2rem 0;
}

.examples__list-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.examples__list-item {
    display: flex;
    align-items: center;
    height: 3rem;
}

@media screen and (min-width: 768px) {
    .examples {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 1800px) {
    .examples {
        margin-top: 25rem;
    }

    .examples h2 {
        font-size: 4rem;
    }

    .examples p {
        font-size: 2rem;
    }
}

/* Clients section */
.clients {
    column-gap: 2%;
    row-gap: 2%;
}

.clients-container {
    margin: 7rem auto;
}

.client {
    background: white;
    width: 100%;
    border: 1px solid #707070;
}

.clients__text {
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .clients-container {
        margin: 7rem auto 10rem;
    }
}

@media screen and (min-width: 1100px) {
    .clients {
        column-gap: 2%;
        row-gap: 5%;
    }

    .clients-container {
        margin: 5rem auto;
    }
}

@media screen and (min-width: 2000px) {
    .clients-container {
        margin: 10rem auto;
    }

    .clients {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

/* Projects */
.projects {
    margin-top: 10rem;
    width: 100vw;
    background: var(--almost-black);
    padding: 5rem;
}

.projects-content {
    max-width: 85vw;
    margin: auto;
}

.projects__title {
    color: white;
}

.projects__description {
    color: var(--primary-color);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 5rem 0 4rem;
    margin: 0;
}

.project__number {
    font-size: 9rem;
    line-height: 4.4rem;
    color: white;
}

.project__title {
    color: white;
}

@media screen and (min-width: 350px) {
    .projects {
        margin-top: 13rem;
    }
}

@media screen and (min-width: 500px) {
    .projects {
        margin-top: 16rem;
    }
}

@media screen and (min-width: 600px) {
    .projects {
        margin-top: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .projects {
        margin-top: 0rem;
    }

    .projects__text {
        grid-area: one;
    }

    .project {
        padding: 5rem 0 4rem;
        margin: 0 8%;
    }
}

@media screen and (min-width: 1100px) {
    .projects {
        margin-top: 15rem;
    }

    .projects__text {
        grid-area: auto;
    }

    .projects-content {
        padding: 8rem 0;
    }
}

/* Testimonials */
.testimonials-container {
    margin: 10rem 0 5rem;
}

.testimonials__description {
    color: var(--primary-color);
}

.testimonials {
    margin-top: 4rem;
}

.testimonial__content {
    background: white;
    border: 1px solid #707070;
    padding: 2rem;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.1);
}

.testimonial__person {
    margin-top: 3rem;
    align-items: center;
    justify-items: center;
}

.testimonial__person h4 {
    margin-bottom: 0.5rem;
}

.testimonial__person p {
    color: var(--primary-color);
    margin-top: 0.5rem;
}

.testimonial__person img {
    border-radius: 100%;
    width: 60%;
    margin-left: 25%;
}

@media screen and (min-width: 768px) {
    .testimonials-container {
        margin: 10rem 0 2rem;
    }
}

@media screen and (max-width: 768px) and (max-height: 1000px) {
    .testimonial__person img {
        margin-left: 0;
        width: 40%;
    }

    .testimonial {
        margin-bottom: 7rem;
    }
}

/* Portfolio */
.portfolio {
    background: url("/images/menbeforefooter.webp");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 17.5rem;
    border: none;
    margin-top: 7rem;
}

.portfolio__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.portfolio h2 {
    color: white;
}

.portfolio p {
    color: white;
}

.portfolio a {
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 1rem 2.4rem;
}

.portfolio__content {
    max-width: 85vw;
    margin: 0 auto;
}

.portfolio .grid {
    justify-content: space-between;
    justify-items: center;
}

.portfolio__image {
    object-fit: cover;
    object-position: center;
    width: 50%;
}

@media screen and (max-width: 1180px) {
    .portfolio {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .portfolio__content {
        max-width: 80vw;
    }
}

/* Mobile portfolio */
.mobile-portfolio {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    max-width: 85vw;
    margin: 0 auto;
    align-items: center;
}

.mobile-portfolio-container {
    background: var(--primary-color);
    margin-top: 0;
}

.mobile-portfolio h2 {
    color: white;
    text-align: center;
}

.mobile-portfolio a {
    background: var(--almost-black);
    border-radius: 4px;
    color: white;
    padding: 1rem 2.4rem;
}

@media screen and (min-width: 768px) {
    .mobile-portfolio-container {
        margin-top: 8rem;
    }
}

@media screen and (min-width: 1180px) {
    .mobile-portfolio-container {
        display: none;
    }
}

/* Footer */
footer a {
    color: white;
    margin-bottom: 2rem;
}

.footer {
    background: var(--almost-black);
    padding: 4rem 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
    .footer__content {
        flex-direction: row;
        max-width: 80vw;
        padding: 7rem 0;
    }

    .footer {
        background: var(--almost-black);
        padding: 0;
    }

    .footer__brand img {
        width: 70%;
    }
}
